header {position:relative;
        z-index:1000;
        .top-bar{padding:0;}
        .top-bar-left{margin-top:10px; font-weight: bold; color:blue;}
        .top-bar-right{background-color:$white;}
        .title-bar{text-transform:uppercase;font-weight: 800;}
        img{max-height: 2rem; margin:-12px 10px 0; height: 100%}
      }
.menu-icon {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 16px;
          margin-top: 0.5rem;
          cursor: pointer;
}
.moreinfo{margin-bottom:1rem;}
.contacte{
  margin-bottom:5px;background-color:$white; border:3px solid $primary-color; color:$primary-color; border-radius:0.5rem; text-transform:uppercase; font-weight:bold;}
.footer{position:relative;
  &::before {
     position:absolute;
     content: "";
     right: 50%;
    background-color:$primary-color;
     @include breakpoint(small) {
     bottom:3rem;
     margin-right: -12.5px;
     width: 25px;
     height: 2px;}
     @include breakpoint(medium) {
     bottom:16px;
     margin-right:0;
     width: 2px;
     height: 25px;}
   }
 }
